<form method="post" action="{{ path('app_effets_secondaire_delete', {'id': effets_secondaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ effets_secondaire.id) }}">
    <button class="btn">Delete</button>
</form>
